*
{
    margin: 0;
    background-color: rgba(112, 112, 112, 1);
    color: white;
    font-family: monospace;
}
body
{
    min-height: 100%;
    min-width: 100%;
}
a
{
    background-color: inherit;
    color: white;
    text-decoration: none;
}
img
{
    margin: 2rem;
}
h1
{
    margin: 2rem;
    background-color: inherit;
    color: inherit;
}
p
{
    padding: 2rem;
    background-color: inherit;
    color: inherit;
    font-size: 28px;
}
nav
{
    display: flex;
    background-color: rgba(32, 32, 32, 1);
    height: 6rem;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 20;
}
.footer
{
    display: flex;
    background-color: rgba(32, 32, 32, 1);
    height: 6rem;
    width: 100%;
    color: white;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    z-index: 20;
}
.navitems
{
    display: flex;
    background-color: rgba(32, 32, 32, 1);
    height: 2rem;
    width: 40%;
    align-content: center;
    margin: 1rem;
}
.item
{
    display: flex;
    background-color: rgba(32, 32, 32, 1);
    width: 100%;
    color: white;
    justify-content: space-around;
}
.textbox
{
    background-color: rgba(74, 74, 74, 1);
    width: 80%;
    height: 80%;
    margin-left: 2rem;
}
.text
{
    background-color: rgba(74, 74, 74, 1);
    color: white;
}
.images
{
    display: flex;
    flex-direction: row;
}
.projectholder
{
    display: flex;
    margin: 2rem;
    flex-direction: row;
}
.project
{
    margin: 2rem;
    position: relative;
    height: 20rem;
    width: 256px;
    box-shadow: 0 0 1rem black;
}
.projecttext
{
    background-color: rgba(74, 74, 74, 1);
    opacity: 0.7;
    position: absolute;
    top: 80%;
    left: 0;
    width: 95%;
    height: 15%;
    color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    align-items: center;
}
.projectimg
{
    height: 100%;
    margin: 0;
}